.pageContainer {
  display: flex;
  gap: 2rem;
  padding: calc(10px + 1rem) 2rem 2rem 2rem;
  height: calc(100vh - 60px);
  position: relative;
  z-index: 10;
}

/* Menú lateral */
.sidebar {
  flex: 0 0 220px; /* ancho fijo */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 1rem;
  height: 100%; /* ocupa toda la altura disponible del pageContainer */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 0.5rem 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.sidebar li:hover {
  color: #2b7a78;
}

/* Contenido principal */
.mainContent {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
  height: 90%;
  margin-top: 1rem;
}
