/*src/styles/AppLayout.module.css*/

.pageContainer {
  display: flex;
  gap: 2rem;
  padding: calc(10px + 1rem) 2rem 2rem 2rem;
  height: calc(100vh - 60px);
  position: relative;
  z-index: 10;
}

/* Sidebar dentro del layout */
.sidebar {
  flex: 0 0 220px;
  height: 100%;
}

/* Contenido principal */
.mainContent {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  overflow-y:auto;
  height: 90%;
  margin-top: 1rem;
}
