/*src/stules/Sidebar.module.css*/

.sidebar {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem 0.5rem 0.75rem 0.5rem; /*arriba derecha abajo izquierda;*/
  width: 210px;
  height: 95%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  position: relative;
  z-index: 100;
}

/* Botón hamburguesa */
.menuToggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.6rem;
  color: var(--secondary, #817a6f);
  cursor: pointer;
  margin-bottom: 1rem;
}

.menuToggle:focus-visible {
  outline: 2px solid var(--secondary, #817a6f);
}

/* Perfil */
.profile {
  text-align: center;
  margin-bottom: 1.5rem;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ddd;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 0 auto 0.5rem;
  font-size: 1.1rem;
}

.greeting, .role {
  font-size: 0.95rem;
  color: var(--secondary, #817a6f);
}

/* Lista principal */
.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem,
.dropdownHeader {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem 0.75rem 0.2rem;
  color: var(--neutral4, #808080);
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 0.95rem;
}

.menuItem:hover,
.dropdownHeader:hover {
  background-color: var(--secondary, #817a6f);
  color: white;
}

/* Estado activo */
.active {
  background-color: var(--secondary, #817a6f);
  color: white;
  font-weight: 500;
}

.icon {
  font-size: 1rem;
}

/* Flecha dropdown */
.arrowIcon {
  margin-left: auto;
  font-size: 1.4rem;
}

/* Submenú */
.submenu {
  list-style: none;
  margin: 0.3rem 0 0 2.2rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  animation: fadeIn 0.3s ease;
  }

.submenu li {
  font-size: 0.9rem;
  color: var(--neutral4, #808080);
  cursor: pointer;
  transition: color 0.2s;
  padding: 0.2rem 0.5rem;
}

.submenu li:hover {
  background-color: rgba(129, 122, 111, 0.15);
  color: var(--secondary, #817a6f);
  transform: translateX(2px);
  font-weight: 500;
}

/* Subactivo */
.activeSub {
  color: var(--secondary, #817a6f);
  font-weight: 500;
   background-color: #d9d9d9;
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    height: calc(100vh - 60px);
    transform: translateX(-100%);
    z-index: 200;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .menuToggle {
    display: block;
    position: absolute;
    top: 10px;
    right: -50px;
  }
}
