:root {
  height: 100%;
  width: 100%;
  --primary: #7FC6BA;
  --secondary: #817A6F;
  --neutral4: #808080;
  --neutral6: #FAFAFA;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; 
  font-family: 'Roboto', sans-serif;
}